body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
*{font-family:Calibri, sans-serif;color:#000000;background-color:#ffffff;}
a:link {color: black; background-color: #f0ffe0; text-decoration: none;}
a:visited {color: black; background-color: #e1f5cb; text-decoration: none;}